
.sidebar {
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
}

.sidebar .nav-link.active {
  font-weight: bold;
  background-color: #e9ecef;
}

.main-content {
  padding: 20px;
}

.sidebar-bottom {
  margin-top: 350px;
  padding-top: 20px;
  border-top: 1px solid #dee2e6;
}

.main-content td a{
  padding: 5px 15px 5px 15px;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 20px;
  text-decoration: none;
}

nav{
  position: fixed;
}

