
.sidebar {
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
}

.sidebar .nav-link.active {
  font-weight: bold;
  background-color: #e9ecef;
}

.main-content {
  padding: 20px;
}

.sidebar-bottom {
  margin-top: 350px;
  padding-top: 20px;
  border-top: 1px solid #dee2e6;
}

.main-content td li{
  display: inline-block;
  margin-right: 10px;
}

.main-content td ul{
  padding-left: 0;
}

nav{
  position: fixed;
}
