.slogan li{
    display: inline-block;
    margin: 20px 40px;
}

p {
    margin: 5px 0;
}

.slogan{
    text-align: center;
    padding: 40px 0;
    background-color: #EBEBEB;
}

.slogan-text{
    margin-top: 15px;
}

.container-body{
    padding: 90px 70px 0;
}

#div-lists li{
    display: inline-block;
    padding: 0 10px;
    text-align: left;
}

#div-lists>ul p{
    padding-left: 0px;
}

.div-lists{
    text-align: center;
}

button{
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 8px;
}
i{
    color: black;
}

button:hover {
    background-color: #e0e0e0;
}

#navbar{
    background-color: #e0e0e0;
    color: black;
}

.container-footer {
    position: relative;
    width: 100%;
    height: 300px;
}

.btn-view-all{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: large;
}

.container-footer {
    position: relative;
    width: 100%;
    height: 300px;
}

.box-footer {
    position: absolute;
    background-color: whitesmoke;
    width: 1100px;
    height: 300px;
    z-index: 1;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-child-footer {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    background-color: #808080;
    color: white;
    width: 1100px;
    height: 50px;
    z-index: 1;
    top: 147%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-footer {
    position: relative;
}

.image-footer img {
    width: 100%;
    height: auto;
    filter: saturate(0.7);
}